---
title: 'Landscaping & Lawncare | Davis Outdoor Jobs | Binghamton, NY'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1203">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome to Davis Outdoor Jobs</span>
                <h1 class="cs-title">Enhance Your Home and Business with Expert Landscaping Services</h1>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius doloribus quas ad harum odit! Consequuntur adipisci exercitationem aliquid reiciendis ab atque iusto quis ipsa totam, doloribus iure similique nisi culpa..
                </p>
                <a href="" class="cs-button-solid">Get Quote</a>
                <ul id="list-1186" class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/degree-diploma-certificate-svgrepo-com.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Degrees in Landscape Design and Management</h3>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/tree-svgrepo-com.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">New York State Nursery Landscape Association</h3>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/certified-svgrepo-com.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Certified Nursery and Landscape Professional</h3>
                        </div>
                    </li>
                </ul>
            </div>
            <!--To make your own background crops of people use https://www.remove.bg/-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/pexels-pixabay-280229.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/pexels-pixabay-280229.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/pexels-pixabay-280229.jpg" alt="accountant" width="786" height="742">
            </picture>
        </div>
        <!--Floating Arrow-->
        <!-- <img class="cs-floater" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-graph-full.svg" alt="accountant" width="1465" height="950"> -->
    </section>

    <!-- ============================================ -->
    <!--                    Services                  -->
    <!-- ============================================ -->

    <section id="services-1355">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We're Committed to Deliver Top High Quality Services</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Landscaping</span></h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Lawn</span> Care</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Service</span> 3</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Get Quote</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1099">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Top left image-->
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pexels-magic-k-24827758-6728919.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pexels-magic-k-24827758-6728919.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/pexels-magic-k-24827758-6728919.jpg" alt="appliance" width="323" height="447">
                </picture>
                <!--Bottom right image-->
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pexels-luis-negron-260501657-13630739.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pexels-luis-negron-260501657-13630739.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/pexels-luis-negron-260501657-13630739.jpg" alt="appliance" width="305" height="441">
                </picture>
                <!--Stripe background-->
                <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
                <!--Eclipses-->
                <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/grass-leaves-svgrepo-com.svg" alt="stripes" width="140" height="140" aria-hidden="true">
            </div>
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">We're Dedicated To Getting It Right</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo culpa nesciunt, sed rem nam libero, dolores voluptatem tenetur in eos nisi harum voluptates doloremque iusto nihil deserunt? Eum, aperiam laboriosam.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <h3 class="cs-h3">Mission Statement</h3>
                        <p class="cs-li-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ullam dignissimos illo expedita qui? Dignissimos fuga consequuntur nesciunt inventore, quas repudiandae doloremque nostrum qui rerum praesentium! Ipsam soluta rem non?
                        </p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3">Our Vision</h3>
                        <p class="cs-li-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quaerat iure, sequi earum eos pariatur reprehenderit omnis quo minus explicabo, doloribus beatae impedit minima numquam vero recusandae nostrum sunt itaque.
                        </p>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-440">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Best-In-Class</span>
                <h2 class="cs-title">Why Choose Us?</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon1.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">263</span>
                        <span class="cs-desc">Stat Here.</span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon2.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">18</span>
                        <span class="cs-desc">Stat Here.</span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon3.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">24</span>
                        <span class="cs-desc">Stat Here.</span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon4.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">3</span>
                        <span class="cs-desc">Stat Here.</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/pexels-pixabay-259588.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pexels-pixabay-259588.jpg">
            <img decoding="async" src="/assets/images/pexels-pixabay-259588.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>
            

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Check Out Some Of Our Previous Work</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1672">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Customer Reviews</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Person 1
                            <span class="cs-job">Relation</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit doloribus cumque expedita quos! Ut quis iure quo quod. Quae quasi dolorum laboriosam perferendis facilis ea veniam sint inventore minus.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Person 2
                            <span class="cs-job">Relation</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos autem reprehenderit excepturi quod quasi ipsum debitis quaerat dignissimos officiis illo temporibus suscipit nostrum corporis beatae, illum sunt at recusandae.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Person 3
                            <span class="cs-job">Relation</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut aspernatur iusto animi soluta possimus officiis earum nesciunt molestiae voluptatibus facere rem laborum atque, magni ea est eum odio nostrum ipsam.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
            </ul>
            <a href="" class="cs-button-solid">Read More Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}